{% extends 'base.html' %}

{% block content %}
</br>
<TABLE width="100%" class="tableau" align="center">
  <TR>
    <TD class="sond1">
          <h2>{% block title %}Ajouter un nouveau calendrier{% endblock %}</h2>
    </TD>
  </TR>

 <TR>
   <TD>
     <TABLE width= "100%" class="sond_indiv">
       <TR>
         <TD class ="case">
          <form method="post">
            <label for="calendrier_fichier"><span style="padding: 1rem;">Entrez le chemin complet d'accès au fichier ics </span>
              <span class="petit">(sous Windows : C:\User\...\nom_fichier.ics ; sous Mac : /Users/.../nom_fichier.ics) :</span>
            </label>
            </br><input type="text" name="calendrier_fichier" id="calendrier_fichier" required>
            </br></br>
            <label for="calendrier_nom"><span style="padding: 1rem;">Entrez le nom du calendrier :</span></label>
            </br><input type="text" name="calendrier_nom" id="calendrier_nom" required>
            </br></br>
            <label for="description"><span style="padding: 1rem;">Description du calendrier (si vous le souhaitez) :</span></label>
            </br><input type="text" name="description" id="description">
            </br></br>
            <input type="submit" value="Ajouter">
          </form>
        </TD>
      </TR>
    </TABLE>
  </TD>
</TR>
</TABLE>

<span style="float: right; text-align: right; padding: 2rem 2rem;">
    <a href="{{ url_for('page_principale') }}">Retour</a>
</span>

{% endblock %}