{% extends 'base.html' %}

{% block content %}
</br>
<TABLE width="100%" class="tableau" align="center">
  <TR>
    <TD class="sond1">
          <h2>Creneaux</h2>
		  <form action="{{ url_for('page_principale.ajouter_sondage_modif_creneaux', key=key, id=id, nom_utilisateur=nom_utilisateur, type=type, eventdate=eventdate, preferences=preferences, optionsHash=optionsHash, titre=titre, lieu=lieu, description=description, jour_entier=jour_entier, final=final, limiteVotePers=limiteVotePers, siNecessaire=siNecessaire, cal=cal) }}" method="post">
		  <input type="submit" value="Ajouter">
		  {% if limiteVotePers=="1" %}
		  	<h3>Veuillez choisir au maximum {{limiteVotePers}} créneau</h3>
		  {% endif %}
          {% for creneau in creneaux %}
		  <TR>
		    <TD>
			<TABLE width= "100%" class="sond_indiv">
		      <TR>
		        <TD class="grand">
		            {% if jour_entier=="True" %}
		            <span>Jour: {{ creneau['jourComplet'] }}</span>
		            {% else %}
		            <span>Debut: {{ creneau['debut'] }}</span> </br> <span>Fin : {{ creneau['fin'] }}</span>
		            {% endif %}
		        </TD>
		      </TR>
		      <TR>
		          <TD class="checkboxes" width="80%">
					{% if siNecessaire=="False" %}
					<input class="increase" type="checkbox" name="{{ creneau['cle'][16]}}" id="check"> <span class="grand" align="right">Je suis disponible.</span>
					{% else %}
					<input class="increase" type="checkbox" name="O{{ creneau['cle'][16]}}" id="check"> <span class="grand" align="right">Je suis disponible.</span>
					<input class="increase" type="checkbox" name="S{{ creneau['cle'][16]}}" id="check"> <span class="grand" align="right">Je suis disponible, si necessaire.</span>
					{% endif %}
		          </TD>	
		      </TR>
		    </TABLE>
		    {% if not loop.last %}
		    </br>
		    {% endif %}
		    </TD>
		  </TR>
		  {% endfor %}
    </TD>
		</form>
  </TR>
</TABLE>

<span style="float: right; text-align: right; padding: 2rem 2rem;">
    <a href="{{ url_for('page_principale') }}">Retour</a>
</span>

{% endblock %}