{% extends 'base.html' %}

{% block content %}
</br>
<TABLE width="100%" class="tableau" align="center">
  <TR>
    <TD class="sond1">
          <h2>{% block title %}Modifier votre mot de passe{% endblock %}</h2>
    </TD>
  </TR>

 <TR>
   <TD>
     <TABLE width= "100%" class="sond_indiv">
       <TR>
         <TD class ="case">
          <form method="post">
            <label for="mot_de_passe_0"><span style="padding: 1rem;">Entrez votre ancien mot de passe</span>
            </label>
            </br><input type="password" name="mot_de_passe_0" id="mot_de_passe_0" required>
            </br></br>
            <label for="mot_de_passe_1"><span style="padding: 1rem;">Entrez votre nouveau mot de passe</span>
            </label>
            </br><input type="password" name="mot_de_passe_1" id="mot_de_passe_1" required>
            </br></br>
            <label for="mot_de_passe_2"><span style="padding: 1rem;">Confirmez le mot de passe</span>
            </label>
            </br><input type="password" name="mot_de_passe_2" id="mot_de_passe_2" required>
            </br></br>
            <input type="submit" value="Valider">
          </form>
        </TD>
      </TR>
    </TABLE>
  </TD>
</TR>
</TABLE>

<span style="float: right; text-align: right; padding: 2rem 2rem;">
    <a href="{{ url_for('page_principale.parametres') }}">Retour</a>
</span>

{% endblock %}