{% extends 'base.html' %}

{% block content %}
</br>
<TABLE width="100%" class="tableau" align="center">
  <TR>
    <TD class="sond1">
          <h2>{% block title %}Modifier votre calendrier{% endblock %}</h2>
    </TD>
  </TR>

 <TR>
   <TD>
     <TABLE width= "100%" class="sond_indiv">
       <TR>
         <TD class ="case">
          <form method="POST" enctype="multipart/form-data">
            </br><div>
			   <label for="file">Sélectionner le fichier à envoyer</label>
			   <input type="file" name="calendrier_fichier" id="calendrier_fichier" required multiple>
				</div>
            <div>
			   <button>Envoyer</button>
			 </div>
          </form>
        </TD>
      </TR>
    </TABLE>
  </TD>
</TR>
</TABLE>
<span style="float: right; text-align: right; padding: 2rem 2rem;">
    <a href="{{ url_for('page_principale') }}">Retour</a>
</span>
{% endblock %}